/* Variables */

:root {
  --marvel-red:  #ed151e;
}

/* Web App Styling */

body {
  background-color: #1f1f1f;
}

h1,h2,h3,h4,p, button, input {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
/* Headers */
.header__white{
  color: white;
}
/* Character Input section */
.input-section {
  text-align: center;
  padding-top: 25px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Character tile */
.character-tile {
  border: 1px solid lightgray;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  margin-top: 50px;
  -webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow 1s;
}

.character-tile__color {
  background: white;
  color: black;
}

.character-tile:hover {
  border: 1px solid darkgray;
  box-shadow: 5px 5px 10px #c7c6c6;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  margin-top: 50px;
}

/* Add and Remove Buttons */
.addRemoveButton {
  background-color: var(--marvel-red);
  color: white;
  font-size: 20px;
  padding: 8px 10px;
  margin: 8px 0;
}

.addRemoveButton:hover {
  background-color: var(--marvel-red);
}

/* Team section */
.team-container {
  margin: 50px;
}

.team-container h2 {
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.team-image {
  border-bottom: 4px solid var(--marvel-red);
}

.team-card__border, .character-tile {
  --notchSize: 20px;
  clip-path: 
    polygon(0 0, 
    0 0, 
    100% 0, 
    100% 5%, 
    100% 95%, 
    calc(100% - var(--notchSize)) 100%, 
    10% 100%, 
    0% 100%);
}

.team-image-name {
  font-weight: bold;
  float: left;
  padding: 10px 15px;
}

.team-image-bottom__color {
  background: white;
  color: black;
  text-transform: uppercase;
  text-transform: uppercase;
  position: relative;
  top: -3px;
}

